/* 
    General Styles
*/
.barra {
  overflow-x: scroll;
}
.barra2 {
  overflow-x: scroll;
}
.lernmore:hover {
  background: rgb(2, 117, 216);
  color: white;
}
.heart:hover {
  background: rgb(240, 173, 78);
}

/* .fondo {
  background-image: url(../img/logo.png);
  background-position: enter;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
} */
